.register-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.register-radio-button {
  margin: 5px;
}

.register-selected-value {
  margin: 15px 0;
}

div.container {
  display: flex;
  margin-bottom: 10px;
}

div.container > div {
  flex: 1 1 5em;
  margin-left: 10px;
  background-color: blue;
}